h3, h4 {
    background-color: #97C03D;
    padding: 4px;
    color: #fff;
}

fieldset {
    border: 2px solid #97C03D;
}

table {
    width: 100%;
    border-spacing: 0px;
}

td {
    padding: 4px;
    border-bottom: 2px solid #97C03D;
    border-right: 2px solid #97C03D;
    vertical-align: bottom;
}