<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kappa_labs.ohunter.client">

    <uses-permission android:name="android.permission.INTERNET" />
    <!-- Approximate GPS location permission -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- Maximal GPS location precision available -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <!-- Camera permissions -->
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <!-- To have permission to save and read the photos and other files -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:name=".activities.DummyApplication"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.ActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.LoginActivity"
            android:label="@string/title_activity_login"
            android:theme="@style/AppTheme.ActionBar" />
        <activity
            android:name=".activities.PrepareHuntActivity"
            android:label="@string/title_activity_prepare_hunt"
            android:parentActivityName=".activities.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity" />
            <!-- <meta-data -->
            <!-- android:name="com.google.android.maps.v2.API_KEY" -->
            <!-- android:value="AIzaSyAUH-Q6N_oJXF3mm-a7p8wsCxpf43dyEt4" /> -->
        </activity>
        <!-- Configure this activity to use only landscape orientation -->
        <activity
            android:name=".activities.CameraActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_camera"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.FullScreen" />
        <activity
            android:name=".activities.HuntActivity"
            android:label="@string/title_activity_hunt"
            android:parentActivityName=".activities.MainActivity"
            android:theme="@style/AppTheme" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAUH-Q6N_oJXF3mm-a7p8wsCxpf43dyEt4" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".activities.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".activities.MainActivity"
            android:theme="@style/AppTheme.ActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.kappa_labs.ohunter.client.activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.StatisticsActivity"
            android:label="@string/title_activity_statistics"
            android:theme="@style/AppTheme.ActionBar" />
        <activity
            android:name=".activities.HistoryActivity"
            android:label="@string/title_activity_history"
            android:theme="@style/AppTheme.ActionBar" />
        <activity
            android:name=".activities.AboutActivity"
            android:label="@string/title_activity_about"
            android:theme="@style/AppTheme.ActionBar" />
        <activity
            android:name=".activities.HelpActivity"
            android:label="@string/title_activity_help"
            android:theme="@style/AppTheme.ActionBar" />
    </application>

</manifest>